@page "/todolist";

<h3>Todolist</h3>
@Name
<div>
    <nav style="color:red; block-size: contain">
        <li>Home </li>
        <li>Book</li>
        <li>History </li>
        <li>Search</li>
    </nav>
</div>
@code {
    string Name = "Tho Chim To";
}
